.calendar{
    width:50px;
    text-align: center;
    border: dashed 1px #000;
}
.cal-day{
    font-size: 26px;
    padding: 3px;
    background-color: #e54304;
    color: #fff;
}
.cal-month{
    font-size: 20px;
    background-color: #fff;
    font-weight: bolder;
}
.cal-year{
    font-size: 14px;
    color: #fff;
    background-color:#3E2723;
}